info:
  version: ${project.version}
  stage: dev

server:
  port: ${server.port}

management:
  server:
    port: ${management.port}
  metrics:
    export:
      prometheus:
        enabled: false
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

spring:
  application:
    name: '@project.name@'
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: '@db.url@'
    username: '@db.user@'
    password: '@db.password@'
    hikari:
      idle-timeout: 30000
      maximum-pool-size: 10
  flyway:
    schemas: '@db.schema@'
    table: schema_version
  output:
    ansi:
      enabled: ALWAYS
  task:
    scheduling:
      pool:
        size: 10
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: ReporterListener
      client-id: reporter
      enable-auto-commit: false
      auto-offset-reset: earliest
      max-poll-records: 20
      properties:
        max.poll.interval.ms: 60000
        session.timeout.ms: 60000
        reconnect.backoff.ms: 2000
        retry.backoff.ms: 2000

kafka:
  consumer:
    party-management:
      concurrency: 5
  topics:
    invoicing:
      id: mg-invoice-100-2
      enabled: false
      concurrency: 1
      throttling-timeout-ms: 50

hellgate:
  invoicing:
    url: http://localhost:8023/v1/invoicing
    timeout: 30000

partyManagement:
  url: http://hellgate:8022/v1/processing/partymgmt
  timeout: 5000

dominant:
  url: http://dominant:8022/v1/test
  timeout: 5000

report:
  defaultTimeZone: Europe/Moscow
  batchSize: 1
  includeAdjustments: false

storage:
  endpoint: localhost:42827
  signingRegion: RU
  signerOverride: S3SignerType
  bucketName: test
  client:
    protocol: HTTP
    maxErrorRetry: 10
  accessKey: test
  secretKey: test

retry-policy:
  maxAttempts: 5

testcontainers:
  postgresql:
    tag: '11.4'
  kafka:
    tag: '6.2.0'
  ceph:
    tag: 'v3.0.5-stable-3.0-luminous-centos-7'
    accessKey: 'test'
    secretKey: 'test'
